.red {
	color: #cc0033;
}

/* gør headeren højere*/
.ui-header {
    padding-top: 14px;  /*default i 1px */
}

/* dette får rykker knapperne/ikonerne i logoet ned i headeren - tallet
skal være det samme som padding-top i ui.header */
/*Using .main .content (with a space) will target 
any elements with a class of .content that are 
descendants of an element with a class of .main.
kommaet at det gælder for både venstre
 og højre-klasser i headeren*/

.ui-header .ui-btn-left {
    margin-top: 14px;
}

/* placering af logoet i headeren*/
.ui-header .ui-btn-right  {
    margin-top: 15px;
}

h3 {color: #cc0033;}

/*
Se her om overrides i JQM 1.4
https://jquerymobile.com/upgrade-guide/1.4/ 



